@media only screen and (min-width: 37.5em) and (max-width: 59.9em) {
  main {
    grid-template-columns: repeat(2,1fr);
  }

  
  section:nth-child(3) {
    grid-column: span 2;
  }
  
  section:nth-child(3) img {
    display: block;
    margin: 20px auto;
    width: 60%;
  }
  h1 {
    font-size: 50px;
  }
}
