@media only screen and (min-width: 960px) {
  .title-container {
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .title-container img {
    margin: 0 auto;
  }

  .title-container h1 {
    font-size: 2.5em;
  }
  nav button {
    display: none;
  }

  nav ul#menu {
    display: flex;
    flex-direction: row;
  }

  ul li a {
    display: block;
  }

  #social {
    display: grid;
    grid-template-columns: 90% 3% 3% 4%;
  }

  #menu {
    display: flex;
    justify-content: space-evenly;
  }

  #social a {
    margin: 0;
    padding: 0;
    height: 32px;
  }

  nav a {
    padding: 0.3em 3em;
  }

  .banner {
    letter-spacing: 1.5px;
  }

  #title-absolute {
    font-size: 2.5em;
  }

  /*-------------- Main CSS --------------*/

  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .hero-image {
    grid-column: 2/4;
    grid-row: 1/3;
  }

  .hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .event {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .weather {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .join {
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(50deg, var(--accent-2), var(--accent-1));
  }

  .button-link {
    border: 2px solid black;
    border-radius: 20px;
    padding: 1.5em 2em;
    background-color: var(--secondary);
    color: black;
    text-decoration: none;
    box-shadow: 0 0 10px 3px white;
  }

  .button-link:hover {
    background-color: var(--accent-2);
    color: white;
    box-shadow: 0 0 12px 5px var(--secondary);
  }

  .title-big {
    font-size: 2em;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
  }

  .news {
    grid-column: 2/4;
    grid-row: 3/4;
  }

  .spotlights {
    grid-column: 4/5;
    grid-row: 1/4;
    display: grid;
    grid-template-columns: 1fr;
  }

  .spotlight {
    margin: 0 auto;
    width: 90%;
    height: 85%;
  }

  .spotlight img {
    width: 70%;
    margin: 2em;
  }

  #hidden-spotlight {
    display: flex;
    flex-direction: column;
  }

  main div.discover-container {
    grid-column: 1/5;
    grid-row: 1/4;
    max-width: 90%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
  }

  main div.discover-container .pictures-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .pic img {
    border: 1px solid black;
    width: 400px;
    height: auto;
  }

  .individual-picture-container {
    width: auto;
    background-color: white;
  }

  /*-------------- Footer CSS --------------*/
  #footer-line {
    font-size: 1.3em;
  }

  .contact-info {
    flex-direction: row;
    column-gap: 0em;
    font-size: 1.4em;
  }

  /*--------------- THANK YOU ---------------*/

  section.thank-you {
    grid-column: 1/5;
    grid-row: 1/4;
    width: 80%;
    margin: 3rem auto;
  }

  /*--------------- FORM ---------------*/

  .form-container {
    grid-column: 1/5;
    grid-row: 1/4;
  }

  /*--------------- DIRECTORY ---------------*/

  main div.directory-container {
    grid-column: 1/5;
    grid-row: 1/4;
  }

  .button-container {
    max-width:20vw;
    margin: 0 auto;
  }

  /************** DIRECTORY AS LIST **************/

  div.members-container.list {
    gap: 0rem;
  }
  div.members-container.list section.card{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
    border-radius: 0px;
  }

  div.members-container.list section.card h3{
    font-size: 1.1rem;
    padding-top: 0px;
  }

  div.members-container.list section.card:nth-child(even){
    background-color: #D6C2EB;
  }
}
